h1
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px; 
}
/* 
.highlight {
	background-color: yellow;
}

.error {
	background-color: lightcoral;
	border-color: red;
} */